@font-face {
    font-family: 'jackinput'; /*a name to be used later*/
    src: url('../jackinput.TTF'); /*URL to font*/
}
@font-face {
    font-family: 'unispace'; /*a name to be used later*/
    src: url('../unispace.ttf'); /*URL to font*/
}
.bandeau{
	width: 100%;
	color:#222;
	font-family: 'jackinput';
	position: relative;
  	padding: 0;
	display: grid;

}
.bandeau1{
	width: 100%;
	height : auto;
	display: flex;
	grid-row: 1;
	margin :0;
}
.bandeau2{
	width: 100%;
	display: grid;
	background: linear-gradient(to right, #ff4d4d, #ff4dff ,#4d4dff);
	background: linear-gradient(to right, #009999,35%,#0033cc,62%,#cc00cc);
	grid-row: 3;
	margin :0;
}
.logo{
	width: 50%;
	display: flex;
}
.boutons_utiles{
	width: 50vw;
	display: flex;
	margin: auto;
}
.bouton{
	margin: auto;
	font-size: 1vw;
	padding: 5px;
	vertical-align: middle;
	height: auto;
}
.menu{
	margin: auto;
	width: 33.33vw;
	font-size: 1.25vw;
	text-align: center;
}
.bandeau a{
	text-decoration: none;
	color: white;
	vertical-align: middle;
}
.bandeau a:hover{

}

.btn {
	 box-sizing: border-box;
	 appearance: none;
	 background-color: transparent;
	 border-radius: 0.6em;
	 cursor: pointer;
	 display: flex;
	 align-self: center;
	 font-size: 1.5vw;
	 line-height: 1;
	 margin: auto;
	 padding: 0.5em;
	 text-decoration: none;
	 text-align: center;
	 text-transform: uppercase;
	 font-family: 'jackinput', sans-serif;
	 border-color: #3498db;
	 color: #fff;
	 box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
	 transition: all 150ms ease-in-out;
	width: auto;
}
 .btn:hover, .btn:focus {
	 color: #fff;
	 outline: 0;
	 box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
 